{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    <!-- An empty action string sends data back to itself -->
    {{ form.hidden_tag() }}

    <!-- Field sets are used to group related elements in a form -->
    <fieldset class="form-group">
      <!-- Form group is a bootstrap class -->
      <legend class="border-bottom mb-4">New Post</legend>

      <!-- Form group for TITLE -->
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        <!-- U can pass in a bootstrap class -->

        <!-- IF our form as any errors, print out errors -->
        {% if form.title.errors %}

        {{ form.title(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>

        <!-- ELSE just show normal -->
        {% else %}
        {{ form.title(class="form-control form-control-lg")}}
        {% endif %}

      </div>

      <!-- Form group for CONTENT -->
      <div class="form-group">
        {{ form.content.label(class="form-control-label") }}

        <!-- IF our form as any errors, print out errors -->
        {% if form.content.errors %}

        {{ form.content(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>

        <!-- ELSE just show normal -->
        {% else %}
        {{ form.content(class="form-control form-control-lg")}}
        {% endif %}

      </div>

    </fieldset>

    <!-- SUBMIT button -->
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>

  </form>
</div>
{% endblock content %}