{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Submit a link!</legend>

      <!-- Form for URL LINK -->
      <div class="form-group">
        {{ form.url.label(class="form-control-label") }}

        {% if form.url.errors %}

        {{ form.url(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.url.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>

        {% else %}
          {{ form.url(class="form-control form-control-lg")}}
        {% endif %}
      </div>
    </fieldset>

    <div class="form-group">
      {{ form.push_button(class="btn btn-outline-info") }}
      {{ form.pop_button(class="btn btn-outline-info") }}
    </div>

  </form>
</div>
{% endblock content %}