{% extends "layout.html" %}
{% block content %}

  <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Submit a link!</legend>

        <!-- Form for URL LINK -->
        <div class="form-group">
          {{ form.url.label(class="form-control-label") }}

          {% if form.url.errors %}

          {{ form.url(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.url.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
            {{ form.url(class="form-control form-control-lg")}}
          {% endif %}
        </div>

        <!-- Form group for any IMAGE FILE -->
        <div class="form-group" id="media-files">
          <!-- {{ form.img.label() }}
          {{ form.img(class="form-control-file") }}
          {% if form.img.errors %}
            {% for error in form.img.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %} -->

          <!-- https://developer.mozilla.org/en-US/docs/Web/API/File/type -->
          <!-- <img id="image-chosen" alt="your image" width="100" height="100" /> -->
          <input type="file" multiple onchange="uploadMedia(this);">
          <!-- Will take in all the images provided, and create a slideshow for each file (no matter the file extension) -->
          <!-- TODO(FI): When u come across a pdf, have a pdf view -->
          <!-- TODO(FI): When u come across an image, use an image tag -->
          <!-- TODO(FI): When u come across a coding file, show a text editor maybe? -->
          <!-- TODO(FI): When u get a zip file, just show zip icon (peek into zip files if its not too hard to do) -->
          <!-- TODO(FI): When u get a video, show a video preview -->
          <script>
            function uploadMedia(fileInput) {
              let files = fileInput.files;
              console.log("Files object:", files)

              let list = [];
              let fileType = "";
              const imageFileTypes = ["jpg", "png", "gif"];
              for (let file of files) {
                console.log(file)
                fileType = file.name.split('.').pop().toLowerCase();

                if (imageFileTypes.includes(fileType)) {
                  let img_element = document.createElement("img");
                  img_element.style.width = 50;
                  img_element.style.height = 50;
                  img_element.alt = "Your image";
                  img_element.src = window.URL.createObjectURL(file);
                  
                  document.getElementById("media-files").appendChild(img_element);
                  list.push(img_element);
                }
                else if (fileType === "pdf") {
                  let pdf_element = document.createElement("embed");
                  pdf_element.src = window.URL.createObjectURL(file);
                  document.getElementById("media-files").appendChild(pdf_element);
                  list.push(pdf_element);
                }
                
                console.log(file.name, file.type);
              }
            }
          </script>
        </div>

      </fieldset>

      <div class="form-group">
        {{ form.push_button(class="btn btn-outline-info") }}
        {{ form.pop_button(class="btn btn-outline-info") }}
      </div>

    </form>
  </div>

  <div class="col-md-8">
    <div class="content-section">
      <h3>History</h3>
      <p class='text-muted'>Any recent links posted will be shown here.
        <ul class="list-group">
          {% if history %}
            {% for url in history %}
              <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{{url}}">{{ url }}</a>
              </li>
            {% endfor %}

          {% else %}
            <li class="list-group-item list-group-item-light">History is currently empty</li>
          {% endif %}
        </ul>
      </p>
    </div>
  </div>


{% endblock content %}