{% extends "layout.html" %}
{% block content %}
<!-- Main submit form section -->
<div id="main-form">
  <div class="submit-form">
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Post something onto your stack!</legend>

        <!-- Form for URL LINK -->
        <div class="form-group">
          {{ form.url.label(class="form-control-label") }}

          {% if form.url.errors %}

          {{ form.url(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.url.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>

          {% else %}
          {{ form.url(class="form-control form-control-lg")}}
          {% endif %}
        </div>

        <!-- Form group for any MEDIA FILES -->
        <div class="form-group" id="media-files">
          {{ form.file.label() }}
          {{ form.file(class="form-control-file") }}
          {% if form.file.errors %}
          {% for error in form.file.errors %}
          <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
          {% endif %}

        </div>

      </fieldset>

      <div class="form-group form-submit-buttons">
        {{ form.push_button(class="btn btn-primary btn-lg") }}
        {{ form.pop_button(class="btn btn-primary btn-lg") }}
      </div>

    </form>
  </div>
</div>


<!-- History section -->
<div class="history-wrapper">
  <div class="history-section">
    <h3>History</h3>
    {% if history %}
    <p class='text-muted'>Up to {{max_dataposts_allowed}} of your most recent posts will be displayed here.
      <ul class="list-group scrollable-list">
        {% for post in history %}
        <li class="list-group-item list-group-item-light">
          {{ loop.index }}:
          {% if post.url %}
          <a class="nav-item nav-link" href="{{post.url}}" target='_blank'>{{ post.url }}</a>
          {% elif post.approved_filename %}
          <a class="nav-item nav-link" target='_blank'
            href="{{url_for('static', filename='uploads/' + post.hashed_filename)}}">{{ post.approved_filename }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </p>
    {% else %}
    <p class='text-muted'>History is currently empty.
      {% endif %}
  </div>
</div>

{% endblock content %}