{% extends "layout.html" %}
{% block content %}
<!-- Home image -->
<div id="home">
  <div class="home-wrapper">
    <div class="landing-text">
      <h1>QUICK EXCHANGE</h1>
      <h3>Start exchanging files today!</h3>
      <a href="#about-qe-section" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>
</div>

<!-- What is Quick Exchage section -->
<div class="padding" id="about-qe-section">
  <div class="container">
    <div class="row">
      <!-- 6 Columns for left image -->
      <div class="col-sm-6">
        <img src="static/img/bootstrap.png">
      </div>

      <!-- Columns for text area -->
      <div class="col-sm-6 text-center">
        <h2>What is Quick Exchange?</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
      </div>
    </div>
  </div>
</div>

<!-- How it works section -->
<div class="padding">
  <div class="container">
    <div class="row">

      <!-- Columns for text area -->
      <div class="col-sm-6 text-center">
        <h2>How it works</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
      </div>

      <!-- 6 Columns for left image -->
      <div class="col-sm-6">
        <img src="static/img/bootstrap.png">
      </div>

    </div>
  </div>
</div>

<!-- "Build with" Section -->
<div class="padding">
  <div class="container">
    <div class="row">
      <!-- 4 columns for large and medium screens -->
      <!-- 2 columns for small screens -->
      <!-- 1 column for extra small screens -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Build with Sass</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="static/img/sass.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>And Less</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="static/img/less.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<!-- Fixed image scrolling thingy -->
<div id="fixed">
</div>

<!-- Here is the cool thing section -->
<div class="padding">
  <div class="container">
    <div class="row">

      <!-- Columns for text area -->
      <div class="col-sm-6">
        <h4>Here is the cool thing about Quick Exchange</h4>
        <p>
          You can exchange PDF's, mp4 files, images, or zip files no matter your platform!
          consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi
        </p>
      </div>

      <!-- 6 Columns for left image -->
      <div class="col-sm-6">
        <img src="static/img/bootstrap2.png">
      </div>

    </div>
  </div>
</div>

{% endblock content %}