body{
  min-width: 400px;
  max-width: 500px;
}

.extension--main-form {
	/* border: black dashed 2px; */
  padding: 65px 10px 10px 10px;
  width: 100%;
}
.extension--push-form {
	/* border: black dashed 2px; */
}
.extension--push-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 0 0px; */
  text-align: center;
}
.extension--pop-form {
  padding: 0px 0px 15px 0px;
}
.extension--show-history {
  text-align: center;
}