body{
  min-width: 400px;
  max-width: 500px;
}

.extension--main-form {
	/* border: black dashed 2px; */
  padding: 65px 10px 10px 10px;
  width: 100%;
}
.extension--push-button {
  text-align: center;
}
.extension--show-history {
  text-align: center;
}