body{
  min-width: 400px;
  max-width: 500px;
}

.extension--main-form {
	/* border: black dashed 2px; */
  padding: 65px 10px 10px 10px;
  width: 100%;
}
.extension--push-form {
	/* border: black dashed 2px; */
}
.extension--push-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.extension--push-button {
  width: 120px;
  text-align: center;
}
.extension--pop-form {
  padding: 0px 0px 15px 0px;
}
.extension--show-history {
  text-align: center;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  margin-top: 10%;
}
.modal-title {
  font-size: 25px;
  padding: 10px 0px;
}
.login-input {
  width: 50%;
  display: block;
  margin: 8px auto;
}