html, body {
	height: 100%;
	width: 100%;
}

.navbar {
	background-color: #23415C;
	padding: 1% 0;
	font-size: 1.2em;
}
.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
	color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
	color: #FFF;
}

#home {
	background: url(img/laptop.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700%;
	color: #FFF;
}

.padding {
	padding: 80px 0;
}
.padding img {
	width: 100%;
}

#fixed {
	background: url(img/phones.jpg) no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}

footer {
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}
.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa:hover {
	color: #d5d5d5;
	text-decoration: none;
}
.icon {
	max-width: 200px;
}

/* mobile devices fixes */
@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
}